* {
    margin: 0px;
    box-sizing: border-box;
}
body {
    margin: 0px;
    height: 100%;
}


html {
    height: 100%;
}

.box {
    display: inline-block; 
    background: blue;
    border: 5px solid darkblue;
    width: 48%;
    height: 300px;
    color: white;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0;
    padding: 5px 5px 5px 5px;
    /* line-height: 150px; */
}

.hide {
    /* visibility: hidden; */
    display: none;
}

.box:hover:last-of-type {
    background: lightblue;
    color: black
}

/* .boxes{
    display: inline-block;
} */

/* #first-box {
    height: 300px;

} */