main {
    padding-top: 32px;
}
.package {
    margin: 20px 0;
    border: 4px solid #063d0d;
    /* background-color: #c6e0d5; */
    padding: 20px;
    width: 80%;
    border-left: none;
}

.package a {
    text-decoration: none;
    display: block;
    padding: 32px;
    color: inherit;
}
.package-title {
    color: black;
    font-weight: bold;
}

.package-note {
    color: #979797;   
}

.package-description {
    background: white;
    border: 1px solid #155306;
    color: #155306;
    font-size: 20px;
    padding: 20px;
}

.clearfix {
    clear: both;
}
#plus {
    background: rgba(213,255,220,0.95);
}

#free {
    background: rgba(234,252,237,0.95);
    float: right;
    border-left: 4px solid;
    border-right: none;
}

#premium {
    background: rgba(14,79,31,0.95);
}

#premium .package-title {
    color: white;
}

#premium .package-note {
    color: #c0bfbf;  
}

#free:hover,
#free:active,
.package:hover,
.package:active {
    border-color: #cc1f1f;
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}
